/* :root {
  --background-card1: #b3bfc9;
  --background-card2: #d5dce298;
  --buttonBackground-email: black;
  --buttonColor-email: white;
  --paddingY: 0.8rem 0 0.8rem 0;
  --paddingX: 0 0.8rem 0 0.8rem;

  --cardSuccess: #7df895;
  --cardError: #ff5d5d;
  --cardWarning: #fca73b;
  --cardInfo: #3eaef2;
  --colorCard: #000;
} */

.container-card-email.success {
  background-color: var(--cardSuccess);
}

.container-card-email.warning {
  background-color: var(--cardWarning);
}

.container-card-email.info {
  background-color: var(--cardInfo);
}
.container-card-email.error {
  background-color: var(--cardError);
}

.container-card-email {
  padding: var(--paddingY);
  border-radius: var(--borderRadius-email);
  max-width: var(--maxWidth-card);
  width: 100%;
  margin: var(--marginCenter);

  animation: aperture;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
}

.header-card-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: var(--border-email);
  padding: var(--paddingX);
  margin-bottom: 0.4rem;
  align-items: center;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.header-card-email > p:last-child {
  font-size: clamp(0.7rem, 2.5vw, 0.9rem);
}

.body-card-email {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 1rem;
}

.body-card-email div:first-child {
  display: flex;
  align-items: center;
  padding: var(--paddingX);
  gap: 0.7rem;
  font-size: clamp(0.9rem, 2.5vw, 1rem);
}

.body-card-email div > .svg-icon {
  color: var(--color-icon-email);
}

.truncate {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}
.button-actions {
  width: 4.5rem;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  transition: color var(--transition1), box-shadow var(--transition1),
    border-color var(--transition1);
  border-color: var(--buttonBackground-email);
  box-shadow: var(--box-shadow1);
}

.button-actions:hover {
  color: var(--buttonColor-email);
  box-shadow: none;
  border-color: var(--buttonColor-email);
}

@media (min-width: 500px) {
  :root {
    --maxWidth-card: 400px;
  }

  .container-card-email {
    max-width: var(--maxWidth-card);
  }
}

@keyframes aperture {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
