:root {
    --maxWidth-email: 800px;
    --border-email: 1px solid #0000005d;
    --padding-container: .4rem;
    --maxWidth-card: 300px;
    --maxHeight-card: 500px;
    --background-fullEmail: #c3f8f8c0;
    --borderRadius-email: .6rem;
}

.container-email {
    max-width: var(--maxWidth-email);
    display: flex;
    margin: 0 auto;
}

.title-email {
    margin-bottom: 2rem;
    text-align: center;
}

.container-email-card{
    max-width: var(--maxWidth-card);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: var(--padding-container);
    padding-top: var(--padding-container);
    border-right: var(--border-email);
    border-top: var(--border-email);
    max-height: var(--maxHeight-card);
    overflow-y: auto;
    scrollbar-width: 0;
}

.container-email-card::-webkit-scrollbar {
    display: none;
}

.container-mailView {
    border-top: var(--border-email);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--background-fullEmail);
}

.container-mailView-container {
    padding-left: var(--padding-container);
    padding-top: var(--padding-container);
    border-radius: var(--borderRadius-email);
}
