.container-menu {
    display: flex;
    max-height: 2.4rem;
    justify-content: space-around;
    padding: .4rem;
    margin-bottom: 2rem;
}

a {
   text-decoration: none;
   color: black; 
}

.menu-container {
    display: flex;
    gap: 1rem;
}

.menu-container div {
    max-width: 15rem;
    max-height: 3rem;
}

.menu-container div a{
    width: 100%;
    padding: .4rem 1rem;
    border-radius: .3rem;
    background-color: rgb(187, 218, 218);
    display: block;
    transition: color .4s ease-out,
    background-color .6s ease-out;
}

.menu-container div a:hover {
    background-color: black;
    color: white;
}