* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  width: 100%;
  min-height: 100vh;

  /* Transitions */
  --transition1: 0.3s ease-out;
  --box-shadow1: 2px 2px 2px 1px var(--buttonBackground-email);
  --box-shadow2: 2px 2px 2px 1px var(--buttonColor-email);

  /* Email card variable */
  --background-card1: #b3bfc9;
  --background-card2: #d5dce298;
  --buttonBackground-email: black;
  --buttonColor-email: #d1c9c9;
  --paddingY: 0.8rem 0 0.8rem 0;
  --paddingX: 0 0.8rem 0 0.8rem;

  --cardSuccess: #7df895;
  --cardError: #ff5d5d;
  --cardWarning: #fca73b;
  --cardInfo: #3eaef2;
  --colorCard: #000;

  /* Email card */
  --maxWidth-email: 800px;
  --border-email: 1px solid #0000005d;
  --padding-container: 0.4rem;
  --maxWidth-card: 400px;
  --maxHeight-card: 500px;
  --borderRadius-email: 0.6rem;
  --marginX: 0.4rem 0 0.4rem 0;
  --marginCenter: 0 auto;
  --marginBottom: 2rem;
  --color-icon-email: #505964;

  /* color cross close */
  --softOrange: #f4a259;
  --tomatoRed: #f25c66;
  --colorModal: aliceblue;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  background-color: #d3cece;
}
button {
  outline: none;
  background: none;
  border: 1px solid #000;
}
