* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  width: 100%;
  min-height: 100vh;

  /* Transitions */
  --transition1: 0.3s ease-out;
  --box-shadow1: 2px 6px 8px 0px var(--buttonBackground-email);
  --box-shadow2: 2px 2px 2px 1px var(--buttonColor-email);
  --box-shadow3: 0px 0px 1px 3px;

  /* Email card variable */
  --background-card1: #b3bfc9;
  --background-card2: #d5dce298;
  --buttonBackground-email: #eeeeee;
  --buttonColor-email: var(--background-card1);
  --paddingY: 0.6rem 0;
  --paddingX: 0 0.8rem 0 0.8rem;
  --padding: 0.6rem 0.8rem;

  --color-card: #f6f6f6;
  --color-text: #000000;
  --cardSuccess: #7df895;
  --cardError: #ff5d5d;
  --cardWarning: #bb5c02;
  --cardInfo: #3eaef2;
  --colorCard: #5d5d5d;

  /* Email card */
  --maxWidth-email: 500px;
  --border-email: 1px solid #534f4f5d;
  --padding-container: 0.4rem;
  --maxWidth-card: 400px;
  --maxHeight-card: 300px;
  --borderRadius-email: 0.6rem;
  --marginX: 0.4rem 0 0.4rem 0;
  --marginCenter: 0 auto;
  --marginBottom: 2rem;
  --color-icon-email: #505964;

  /* color cross close */
  --softOrange: #f4a259;
  --tomatoRed: #f25c66;
  --colorModal: aliceblue;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
}
button {
  outline: none;
  background: none;
  border: 1px solid #000;
}
